<!DOCTYPE html>
<html>
  <head>
    <meta charsest="utf-8">
    <title>hello world!</title>
    <link rel="stylesheet" href="/css/master.css">
  </head>
  <body>
    <h1>hello
      <% if(name){ %>
        <span class="name"><%= name %>!</span>
      <% } else { %>
        <sapn class="stranger">Stranger!</span>
      <% } %>
    </h1>
  </body>
</html>
